#tit{
    position: absolute;
    width: 100%;
    font-size:100px;
    color: #ffffff;
    font-family: Impact;
    background-image: url("Imagenes/fondorecortado.jpg");
    text-align: center;
    top: 0px;
    height: 140px;
}

body{
    background-color: #c0c0c0;
}

#tipito{
    position:absolute;
    right:0;
    width: 10%;
    align:right;
}

#subtitulo{
    position: absolute;
    width: 100%;
    height: 80px;
    font-size:60px;
    font-family: Impact;
    background-color: #31b5ff;
}

.rosa{
    align:"left";
    width: 400px;
    background-color: #f6a9c9;
    font-family: Impact;
    position: absolute;
    margin-top: 228px;
    top: 0px;
}

.fondito{
    color: #ffffff;
    background-image: url("Imagenes/fondorecortado.jpg");
}

#flecha1{
    width: 30px;
    position:absolute;
    top: 60px;
    left: 200px;
    margin: 210px;
}
#rosa2{
    left: 220px;
    margin: 228px;
}

#flecha2{
    width: 30px;
    position:absolute;
    top: 60px;
    left: 630px;
    margin: 210px;
}
#rosa3{
    left: 650px;
    margin: 228px;
}

#rosa4{
    font-size: 20px;
    margin-top: 394px;
}

#rosa5{
    margin-top: 495px;
}

#fondovideo{
    position:absolute;
    top: 0;
    left: 50px;
    margin: 400px;
    background-image:url("Imagenes/1632187.png");
    width: 650px;
}
#videito{
    width:650px;
    height:240px;
}
#espacio{
    margin: 140px 0px 0px 0px;
    padding-top: 160px;
}